.Virtual{
    display: flex;
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding: 2rem;
    justify-content: space-around;
}

.left_s{
    display: flex;
    flex-direction: column;
   gap: 2rem;
   position: relative;
}

.left_s>:nth-child(1){
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
   font-weight: bold;
}
.left_s>:nth-child(2){
    font-size: 1.6rem;
    text-transform: uppercase;
    display: block;
   width: 20rem;
}
.left_s>:nth-child(3){
    font-size: 1.6rem;
   font-weight: bold;
}

.left_s>img{
    position: absolute;
    width: 10rem;
    bottom: 3rem;
}

.wrapper{
    width: 30rem;
}